<div id="row" class="row d-flex justify-content-center">
    <section class="col-md-4">
        <h3>About Artzy</h3>
        <p>Artzy is an online art community for emerging artists 
        and art enthusiasts - it's a platform that allow the artists 
        to exhibit and share their works with an enthusiastic community.
        </p>
    </section>
</div>