
<h1>Update Post</h1>

<form action="/arts/<%= art['id']%>" method="post" enctype="multipart/form-data">
    <input type="hidden" name="_method" value="put">
    
    <label for="">name:</label>
    <input type="text" name="name" value="<%= art['name'] %>">

    <label for="name">image url:</label>
    <input type="file" name="image">

    <button>update</button>
</form>