
<div>
    <h1>LOGIN</h1>

    <% if params[:login_fail] == 'true' %>
       <p>Incorrect login details, try again!</p> 
    <% end %>

    <form action="/users/session" method="post">
        <label for="">email:</label>
        <input type="email" name="email">

        <label for="">password:</label>
        <input type="password" name="password">

        <button>login</button>
    </form>

    <p>Not a member yet? <a href="/users/new">Sign Up</a></p>
</div>


