
<h1>Post Art</h1>

 <form action="/arts" method="post" enctype="multipart/form-data">
    <label for="">art name:</label>
    <input type="text" name="name">

    <label for="">art photo:</label>
    <input type="file" name="image">

    <button>submit</button>
</form>