
<div class="gallery-container">
    <h4>Your Gallery</h4>
    <div class="container">
        <div class="row gx-1">
            <% arts.each do |art| %>
                <div class="col">
                    <img src="<%= art["image_url"] %>" alt="<%= art["name"] %>" class="art-img-p">
                    <p>
                        <a href="/arts/<%= art["id"] %>"><%= art["name"] %></a>
                    </p>
                </div>
            <% end %> 
        </div>
    </div>
</div>
