

.user-name {
    text-decoration: underline;
}

.user-icon {
    width: 10px;
    height: 10px;
}

.dropdown {
    float: right;
    overflow: hidden;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }

  .dropdown-content {
    float: none;
    color: black;
    padding: 12px 16px;
    display: block;
    text-align: left;
  }

  .dropdown-content:hover {
    background-color: #ddd;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }